.btn--orange {
	@extend %button;
	@extend %bg-orange;
	color: #fff;
}

.btn--blue {
	@extend %button;
	@extend %bg-blue;
}

.btn,
.btn--blue-inv {
	@extend %button;
	@extend %bg-blue-inv;
}

.btn:disabled {
	opacity: 0.5;
}

.cbtn {
	@extend %button;
	@extend %bg-blue;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	@extend %flex-col-center;
	font-size: 3rem;
	cursor: pointer;
}
