.overlay {
  @extend %overlay;
  @extend %flex-col-center;
  .container {
    width: 50vw;
    height: 50vh;
    @extend %flex-col-center;
    @extend %bg-green-inv;
    position: relative;
    border-radius: 25px;
    .row {
      @extend %flex-row-center;
    }
    .icon {
      @extend %bg-green;
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px;
      border-radius: 50%;
      font-size: 2em;
      cursor: pointer;
    }
  }
}
