.pages {
	margin: 2%;
	.row {
		@extend %flex-row-center;
		justify-content: space-between;
		.icon {
			@extend %bg-green;
			border-radius: 30%;
			font-size: 3em;
			cursor: pointer;
			margin: 0% -10%;
		}
	}
}
