%tab {
	width: inherit;
	height: 10rem;
	@extend %flex-row-center;
	background: transparent;
	justify-content: space-evenly;
	cursor: pointer;
}
%tab:last-child {
	border-bottom-width: 5px;
}
.sideBar {
	width: 7rem;
	@extend %bg-blue;
	height: 100%;
	position: fixed;
	@extend %flex-col-center;
	justify-content: flex-start;
	z-index: 99;
	transition: 400ms ease-out;
	a {
		display: none;
		font-size: 1.5rem;
		text-decoration: none;
		font-weight: 600;
		transition: 400ms ease-out;
	}
	.icon {
		font-size: 3rem;
		transition: 600ms ease-out;
	}
	.current {
		@extend %tab;
		background-color: #1f202060;
		border-width: 5px;
		border-bottom-width: 0px;
		margin-bottom: 5px;
		border-style: none none none solid;
		border-color: inherit;
	}
	.option {
		@extend %tab;
	}
	.logo {
		width: 90%;
		margin: 5rem 0rem;
	}

	&:hover {
		width: 13rem;
		a {
			display: block;
		}
		.icon {
			font-size: 2rem;
		}
		.logo {
			font-size: 2.5rem;
		}
	}
}
