%tab {
  width: inherit;
  height: 10rem;
  @extend %flex-row-center;
  background: transparent;
  justify-content: space-evenly;
  cursor: pointer;
}
%tab:last-child {
  border-bottom-width: 5px;
}
.sideBar {
  width: 10rem;
  // width: 6rem;
  background-color: #0cbd57;
  height: 100vh;
  position: fixed;
  @extend %flex-col-center;
  justify-content: flex-start;
  z-index: 99;
  transition: 250ms ease-out;
  @include respond(tab-port) {
    & {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px;
      width: 100vw;
      height: 5rem;
      margin-top: -5.5rem !important;
    }
  }
  a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    @include respond(tab-port) {
      & {
        font-size: 13px;
      }
    }
  }
  .icon {
    font-size: 20px;
    color: #fff;
    @include respond(tab-port) {
      & {
        font-size: 25px;
      }
    }
  }
  .current {
    background-color: #005323;
  }

  .logo {
    display: block;
    color: white;
    margin: 50px 0px;
    @include respond(tab-port) {
      & {
        display: none;
      }
    }
  }
}
