.superAdmin{

    background-color: #9266ff;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    
}

#superAdmin-form input{
    background-color: rgb(27,112,137);
    border:0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius:50px;
    color: #fff;

}

#superAdmin-form button{
    height:50px;
    width: 80px;
    border-radius:5px;
    border:0;
    background-color: rgb(2020,156,24);
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
    

}