*,
*::after,
*::before,
*:link,
*:focus {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	outline: none;
	outline-color: transparent;
}

html {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	// min-height: 100vh;
	// width: 100vh;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
	background-color: black;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-radius: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 5px;
}
<<<<<<< HEAD

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #206063;

	background-image: linear-gradient(to top, #0c3d54, #0c3d54b0);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(to bottom, #0c3d54, #0c3d54);
}
=======
>>>>>>> develop
