%buttonBody {
	padding: 10px;
	font-size: 18px;
	border-style: none;
	width: inherit;
	border-radius: 5px;
	font-weight: bolder;
	margin: 10px;
}
%greenBG {
	color: #fff;
	background-color: #0cbd57;
}
%greenBG-inv {
	color: #0cbd57;
	background-color: #fff;
}

%lightGreenBG {
	background-color: #9df3c4;
	color: #1fab89;
}

%lightGreenBG-inv {
	background-color: #1fab89;
	color: #9df3c4;
}

%redBG {
	background-color: #ff5b5bfd;
	color: #fff;
}

%redBG-inv {
	background-color: white;
	color: #ff5b5bfd;
}

%overlay {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #013510ce;
	z-index: 2;
	cursor: pointer;
	transition: 250ms ease-out;
}

body {
	margin: 0%;
	padding: 0%;
	font-family: Helvetica;
}
.btn {
	@extend %buttonBody;
	@extend %greenBG-inv;
}
.btn:disabled {
	opacity: 0.5;
}
.btn-inverse {
	@extend %buttonBody;
	@extend %greenBG;
}

.red-btn {
	@extend %buttonBody;
	@extend %redBG;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 5px;
}
