// colors
$color-primary: #0c3d54;
$color-primary-l: #1fab89;
$color-secondary: #f06e3c;

$color-white: #fafafa;
$color-white-d: #eeeeee;

$color-black-l: #616161;
$color-black: #212121;
$color-black-d: #000;

$color-red-l: #e57373;
$color-red: #f44336;
$color-red-d: #d32f2f;

// margin
$margin-h: 3rem;
$margin-b: 2rem;
$margin-m: 1.5rem;
$margin-s: 1rem;

// padding
$padding-h: 3rem;
$padding-b: 2rem;
$padding-m: 1.5rem;
$padding-s: 1rem;

// font-size
$font-title: 2.5rem;
$font-subtitle: 1.8rem;
$font-b: 1.6rem;
$font-m: 1.2rem;
$font-s: 1rem;
