%tableData {
	// @extend %bg-orange;
	margin: 1rem;
	width: inherit;
	padding: 1rem;
	border-radius: 0.55rem;
	z-index: 1;
	font-size: 2rem;
	text-align: center;
}
.dashboard {
	margin-left: 16.5rem !important;
	color: $color-primary;
	@extend %flex-col-center;

	table {
		width: 95%;
		tr {
			#view {
				width: 5%;
				text-align: center;
			}
			td {
				@extend %tableData;
				font-weight: 600;
				border-radius: 0.55rem;
			}
			th {
				@extend %tableData;
				background-color: $color-primary;
				color: $color-white;
				font-weight: bolder;
				text-align: left;
				input {
					margin: 2rem 0rem;
				}
			}

			&:nth-child(odd) {
				color: $color-primary;
				background-color: #fd906565;
			}
			&:nth-child(even) {
				color: $color-primary;
				background-color: #fd90659c;
			}
		}

		// tr: nth($list: , $n: );
	}
}
