%tableData {
	// @extend %bg-orange;
	margin: 1rem;
	width: inherit;
	padding: 1rem;
	border-radius: 0.55rem;
	z-index: 1;
	font-size: 2rem;
	text-align: center;
}
.dashboard {
	height: 100%;
	width: 95%;
	margin-left: 10rem !important;
	color: $color-primary;

	@extend %flex-col-center;
	.cbtn {
		position: fixed;
		bottom: 5rem;
		right: 5rem;
	}
	.col {
		// margin-top: 10vh;
		@extend %flex-col-center;
		h1 {
			font-size: 3rem;
		}
		p {
			text-align: left;
		}
		width: 70%;
		height: 100vh;
		.btn--blue {
			width: fit-content;
		}
	}
	.row {
		@extend %flex-row-center;
		.column {
			@extend %flex-col-center;
		}
	}
	table {
		width: 95%;
		tr {
			#view {
				width: 5%;
				text-align: center;
				cursor: pointer;
			}
			td {
				@extend %tableData;
				font-weight: 600;
				border-radius: 0.55rem;
			}
			th {
				@extend %tableData;
				background-color: $color-primary;
				color: $color-white;
				font-weight: bolder;
				text-align: left;
				input {
					margin: 2rem 0rem;
					&:focus {
						border-bottom-color: #fff;
					}
				}
			}

			&:nth-child(odd) {
				color: $color-primary;
				background-color: #fd906565;
			}
			&:nth-child(even) {
				color: $color-primary;
				background-color: #fd90659c;
			}
		}
	}
}
