%circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
}
.gettingStarted {
	@extend %bg-blue;
	@extend %body-page;
	@extend %flex-col-center;
	.row {
		@extend %flex-col-center;
		color: white;
		#controls {
			@extend %flex-row-center;
			.ActiveCircle {
				@extend %circle;
				background-color: #fff;
			}
			.Circle {
				@extend %circle;
				background-color: #ffffff59;
			}
		}
		.card {
			width: 40vw;
			height: 60vh;
			position: relative;
			background-color: #fff;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 40vw;
				height: 50vh;
				// clip-path: polygon(0 0, 100% 0, 100% 61%, 0 100%);
			}
			.below {
				background-color: white;
				padding: 10px;
				text-align: center;
				color: #f06e3c;
				position: absolute;
				bottom: 0;
				left: 0;
				p {
					text-align: justify;
				}
			}
			@include respond(tab-port) {
				width: 70vw;
			}
		}
	}
}
