// @use "../abstract/flex";

.sign {
	background-color: #0cbd57;
	color: #fff;
	width: 100vw;
	height: 100vh;
	@extend %columnFlex;
	.form {
		margin-top: 15px;
		width: 30vw;
		@extend %columnFlex;
		a {
			text-decoration: none;
			color: white;
			margin-top: 15px;
			font-weight: 600;
			font-size: 17px;
		}
		.pass {
			width: inherit;
			position: relative;
			height: 3vh;
			margin-bottom: 20px;
			input {
				position: absolute;
			}
			.icon {
				position: absolute;
				font-size: 25px;
				right: 0;
				bottom: 0;
				padding: 2px;
				cursor: pointer;
			}
		}
		p {
			white-space: pre;
		}
		button {
			width: 20vw;
			@include responsive() {
				width: 50vw;
			}
		}
		@include responsive() {
			width: 90vw;
		}
	}
}
