.teacherBody {
  background-color: #12c402be; }

#teacherHeading {
  color:white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger; }

  html,body{
    overflow-x: hidden;
    height:100%;
  }

  #sidebarMenu1
  {

    height: 100%;
    position: fixed;
    left:0;
    top:0;
    width: 300px;
    margin-top:60px;
    background: white;
    transform: translateX(-300px);
    transition: transform 300ms ease-in-out
  }

  .menu
  {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li{
    color: #12c402be;
  }

  .menu li a{
    color: #12c402be;
    display:block;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
  }


  #openSidebarMenu:checked ~ #sidebarMenu1
  {
    transform: translateX(0px);
  }
  .sidebarIconToggle
  {
    height: 22px;
    width: 22px;
    position: absolute;
    z-index: 20;
    top:22px;
    left: 15px;
    cursor: pointer;
  }

  .spinner
  {
    height: 3px;
    background: #fff;
    transition: all 0.3s;
  }

  .spinner.middle,
  .spinner.bottom
  {
    margin-top: 3px;
  }

  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle{
    opacity: 0;
  }
  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top{
    transform : rotate(135deg);
    margin-top: 8px;
  }
  #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom{
    transform : rotate(-135deg);
    margin-top: -9px;
  }

  input
  {
    visibility: hidden;
  }