// .teacherBody{
//
//     height: 80px;

// }

// #teacherHeading{
//     color: black;
//     position: relative;
//     text-align: center;
//     font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
//     // font-size: large;

// }
// #logoImg{
//     height: 60px;
//     width: 150px;
//     // float: left;
// }

.header {
	background-color: #1abe5d;
	height: 70px;
	padding-top: 1px;
	#teacherMenuicon {
		float: left;
		width: 70px;
		height: 30px;
		margin-top: 20px;
	}
	#logoImg {
		float: left;
		width: 100px;
		height: 50px;
		margin: 10px;
	}

	#teacherHeading {
		position: relative;
		text-align: center;
		top: 5px;
		font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
		font-size: xx-large;
		color: white;
	}

	#floatLeft {
		position: fixed;
		right: 2rem;
		top: 2rem;
		font-size: 3rem;
		.options {
			display: none;
			position: fixed;
			right: 8rem;
		}

		cursor: pointer;
		&:hover {
			.options {
				display: block;
			}
		}
	}
}
